* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-header {
  width: 100%;
  height: 40px;
  padding: 15px 25px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    79deg,
    rgb(3, 3, 154),
    rgb(207, 8, 41),
    rgb(4, 4, 150)
  );
}

.link {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.signup_form {
  border: 1px solid gray;
  padding: 20px;
  width: 30%;
  border-radius: 10px;
}
.signup_form form input {
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  margin-top: 2px;
  border: 1px solid rgb(216, 213, 213);
}
.signup_form form button,
.signup_form button {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(216, 213, 213);
}
.signup_form form button {
  background-color: rgb(17, 80, 227);
  color: #fff;
}
.signup_form button {
  background-color: rgb(3, 177, 18);
  color: #fff;
}
.signup_btn {
  cursor: pointer;
  margin-top: 8px;
}

.btn-input {
  border: none;
  color: #fff;
  background-color: transparent;
  font-weight: bolder;
  cursor: pointer;
}
.post_container{
  width: 90%;
  padding: 3.12em 5em;
  position: absolute;
  transform: translateX(-25%);
  top: 5em;
  left: 50%;
  /* border: 1px solid #000000; */
  /* border-radius: 0.5em; */
}
.post_form h2{
  text-align: center;
  color: #c5082e;
}
.post_form {
  width: 50%;
  padding: 20px;
  border: 1px solid #c5082e;
  border-radius: 5px;
}
.post_form input,
.post_form textarea,
.post_form button {
  width: 100%;
  margin: 10px 0px;
  padding: 8px;
}
.post_form .file {
  border-radius: 5px;
  border: 1px solid gray;
}
.post_form button{
  cursor: pointer;
  color: #fff;
  background-color: #6562f1;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
}