* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-header {
  width: 100%;
  height: 40px;
  padding: 15px 25px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    79deg,
    rgb(3, 3, 154),
    rgb(207, 8, 41),
    rgb(4, 4, 150)
  );
}

.link {
  text-decoration: none;
  color: #fff;
  margin: 0 10px;
}

.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
}
.signup_form {
  border: 1px solid gray;
  padding: 20px;
  width: 30%;
  border-radius: 10px;
}
.signup_form form input {
  padding: 8px;
  border-radius: 5px;
  width: 100%;
  margin-top: 2px;
  border: 1px solid rgb(216, 213, 213);
}
.signup_form form button,
.signup_form button {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid rgb(216, 213, 213);
}
.signup_form form button{
  background-color: rgb(17, 80, 227);
  color: #fff;
}
.signup_form button{
  background-color: rgb(3, 177, 18);
  color: #fff;
}
.signup_btn{
  margin-top: 8px;
}